
@import url('https://fonts.googleapis.com/css?family=Griffy');
@import url('https://fonts.googleapis.com/css?family=Belanosima');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka');
@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Gloock');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

:root{
    --headerB: #bc4444;
    --headerC: black;
    --fontone: "Gloock";
    --fonttwo: 'Sacramento';
    --fontthree: 'Gloock';
    --fontfour: 'Fredoka';
    --stan: #bd2031;
    --colorA: #ff0066
}
.navfont {
    font-family: var(--fontone);
    color:black;
}
html {
  scroll-behavior: smooth;
}
.iconn{

    fill: var(--headerC);
}

.navbar{
    background-color: white;
    color: var(--headerC);
    opacity: 95%;
}
.navtext{
    font-family: 'Graduate';
    font-weight: bold;
    font-size: 2rem;
}
.titles1{
    font-family: var(--fontthree);
    color: white;
    font-size: 2rem;
}
.titles2{
    font-family: var(--fonttwo);
    color: white;
    font-size: 5rem;
}
.pcont{
    font-size: 1.25rem;
    font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.pcont2{
  font-size: 1.25rem;
  font-family: var(--fonttwo);
   font-weight: normal;
}
.psmall{
    font-size: 1rem;
    font-family: var(--fontfour);
     font-weight: normal;
}
.blink_me {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }
/* .titles::before{
    content: " ";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 80px;
    margin: 0 10px;
    display: inline-block;
}
.titles::after{
    content: " ";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 80px;
    margin: 0 10px;
    display: inline-block;
} */
/* CSS */

/* CSS */
.button-56 {
  align-items: center;
  background-color:  #EBE7EE;
  border: 2px solid #EBE7EE;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color:  #2937B0 ;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* CSS */
.button-6 {
  align-items: center;
  background-color: #ffffff0d;
  border: 1px solid rgba(0, 0, 0, 0.001);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  /* min-height: 3rem; */
  /* padding: calc(.95rem - 1px) calc(1.1rem - 1px); */
  padding: 0.1rem 0.1rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width:fit-content;
  height:fit-content;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
/* CSS */
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #2937B0 0 0 0 3px, transparent 0 0 0 0;
}
.datetitle{
    font-family: var(--fontone) !important;
    font-size: 2rem !important;
    
}
.datetitle2{
  font-family: var(--fontthree) !important;  
  font-weight: 600;
  font-optical-sizing: auto;
  font-size:  1rem !important;
}
.rotatetext{
    font-size: 2rem;
}
.container-fluid {
  width: 70% !important;
}
.jumbotron{
    background-color: rgba(233,236,239,0.95) !important;
}
.display-4{
    font-family: var(--fonttwo) !important;
    font-size: 2.25rem !important;
}
.lead{
    font-family: var(--fontthree) !important;
    font-size: 1rem !important;
}
.categ{
  font-family: var(--fonttwo) !important;
  font-size: 2rem !important;
  font-weight: normal !important;
}
.itemss{
  font-family: var(--fontfour) !important;
  font-size: 1.25rem !important;
  font-weight: normal !important;
}
.titlebg{
    border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.25);
  background-color: rgba(255,255,255,0.9);
}
.bgimage1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: black url(../images/bgimage.JPG) no-repeat center;
    background-size: cover;
    z-index: -1;
    opacity: 1;
    fill-opacity: 1;
  }
  .parallax-window {
    min-height: 1100px;
    background: transparent;
    
  }
  .tmWelcome {
    position: relative;
    display: flex;
    align-items: center;
    
  } 
  .education{
      background-color: white;
  }

.mybutton{

display: inline-block;
outline: none;
margin-left: 1pt;
cursor: pointer;
font-size: 1rem;
line-height: 1rem;
font-weight: 600;
border-radius: 8px;
padding: 0.5rem 0.5rem;
border: 1px solid #222222;
transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
background: #fff;
color: var(--colorA) ;
}
.mybutton:hover {
    border-color: #000000;
    background: #f7f7f7;
}


