
@import url('https://fonts.googleapis.com/css?family=Griffy');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Delius');
:root{
    --headerB: #bc4444;
    --headerC: black;
    --fontone: "Graduate";
    --fonttwo: 'Sacramento';
    --fontthree: 'Josefin Slab';
    --fontfour: 'Delius';
    --stan: #bd2031;
}
.navfont {
    font-family: var(--fontone);
    color:black;
}
html {
  scroll-behavior: smooth;
}
.iconn{

    fill: var(--headerC);
}
.navbar{
    background-color: white;
    color: var(--headerC);
    opacity: 95%;
}
.navtext{
    font-family: 'Graduate';
    font-weight: bold;
}
.titles1{
    font-family: var(--fontthree);
    color: white;
    font-size: 3vw;
}
.titles2{
    font-family: var(--fonttwo);
    color: white;
    font-size: 5vw;
}
.pcont{
    font-size: 1.25vw;
    font-family: var(--fontfour);
    /* font-weight: bold; */
}
.blink_me {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }
/* .titles::before{
    content: " ";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 80px;
    margin: 0 10px;
    display: inline-block;
}
.titles::after{
    content: " ";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 80px;
    margin: 0 10px;
    display: inline-block;
} */
.datetitle{
    font-family: var(--fontone) !important;
    font-size: 2.25vw !important;
    
}
.jumbotron{
    background-color: rgba(233,236,239,0.9) !important;
}
.display-4{
    font-family: var(--fonttwo) !important;
    font-size: 2.95vw !important;
}
.lead{
    font-family: var(--fontthree) !important;
}
.titlebg{
    border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.25);
  background-color: rgba(255,255,255,0.9);
}
.bgimage1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: black url(../images/bgimage.JPG) no-repeat center;
    background-size: cover;
    z-index: -1;
    opacity: 1;
    fill-opacity: 1;
  }
  .parallax-window {
    min-height: 1100px;
    background: transparent;
    
  }
  .tmWelcome {
    position: relative;
    display: flex;
    align-items: center;
    
  } 
  .education{
      background-color: white;
  }

.mybutton{

display: inline-block;
outline: none;
cursor: pointer;
font-size: 1vw;
line-height: 1vw;
font-weight: 600;
border-radius: 8px;
padding: 0.5vw 0.5vw;
border: 1px solid #222222;
transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
background: #fff;
color: #222222;
}
.mybutton:hover {
    border-color: #000000;
    background: #f7f7f7;
}


