@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Astloch:wght@700&display=swap');

:root{
    --font1: "Cinzel";
    --font2: "Yeseva One";
    --font3:"Cinzel Decorative";
    --color: whitesmoke
}
/* html{
    background: black;
} */

.anytext{
    font-family: var(--font3);
    color: var(--color);
}
.anytext1{
    font-family: var(--font1);
    color: var(--color);
}
.axis .tick text{
    font-family: var(--font3);
    /* font-weight: bold; */
    font-size: 1.3em;
    color:  var(--color);
}

.bgimage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: black url(../images/bgi.jpg) no-repeat center;
    background-size: contain;
    z-index: -1;
    opacity: 0.3;
    fill-opacity: 1;
  }
  