<section id="About" class="parallax-window glass-effect tmWelcome" data-parallax="scroll" data-image-src="../images/water.JPG" loading="lazy">
  <div class="container-fluid justify-content-center">
    <div class="row m-5"></div>
    <div class="jumbotron scroll-triggered glass-effect text-center">
      <h2 class="rotatetext"> <a style="font-family: var(--fontthree); font-weight: bold">I am a</a>
        <span class="txt-rotate" style="font-family: var(--fonttwo); font-size: 2.5rem; font-weight: bold"
          data-period="1000" data-rotate='[ "Student!","Researcher!","Programmer!","Storyteller!" ]'></span>
      </h2>
      <p class="pcont">
        I was born in <a href="">Hyderabad, India</a> but my childhood was shaped by two vastly different places; the sub-tropical highlands of <a href="https://en.wikipedia.org/wiki/Addis_Ababa">Addis Ababa, Ethiopia</a> (from K.G. to 5th Grade) and the sun-scorching deserts of <a href="https://en.wikipedia.org/wiki/Ibra">Ibra, Oman </a>(5th to 10th Grade).
        Whereever I went, I carried my love for stories and thought of myself as a storyteller.<br><br>
        After my frivolous attempt at cracking the JEE, I joined <a href="">Vellore Institute of Technology</a> to explore and tell
        stories about Computers and Algorithms.
        During my Masters at Arizona State University, I discovered that rigorously formalized ideas are great stories
        to tell!
        That drove me to pursue research under the guidance of <a href="https://rakaposhi.eas.asu.edu/">Prof. Subbarao Kambhampati</a>. <br><br>Currently, my world revolves around Large Language Models (LLMs) and Planning. While many were caught up in the hype of LLMs' supposed planning capabilities—or panicking about them taking over the world—I was busy helping my group cut through the noise and <a href="https://x.com/rao2z/status/1832786199972565479?s=46">ground the conversation</a>. My efforts earned me the prestigious <a href="https://www.linkedin.com/posts/school-of-computing-and-augmented-intelligence_massive-congrats-to-valmeekam-karthik-activity-7284715553657667584-aQ_4?utm_source=share&utm_medium=member_ios"> IBM PhD Fellowship Award (2024) </a> in recognition of my work on the reasoning and planning abilities of LLMs. <br><br>
        When I'm not immersed in research, I channel my creativity into screenwriting, dancing, photography, and playing the keyboard. I also enjoy listening to a wide variety of music, ranging from heavy metal to carnatic ragas.
      </p>
    </div>

    <div class="row m-6"></div>
    <div class="jumbotron scroll-triggered glass-effect text-left">
      <h2> <a style="font-family: var(--fontthree); font-weight: bold">News</a></h2>
      <p class="pcont">
        <table class="table borderless">
          <tr>
            <th style="color: var(--colorA);" class="datetitle2">Mar 13, 2025</th>
            <th class="pcont"><a href=https://arxiv.org/abs/2410.02162> "Planning in Strawberry Fields: Evaluating and Improving the Planning and Scheduling Capabilities of LRM o1"
            </a> will appear in TMLR, 2025!</th>
          </tr>
          <tr>
            <th style="color: var(--colorA);" class="datetitle2">Jan 21, 2025</th>
            <th class="pcont"><a href="https://arxiv.org/abs/2402.08115" target="_blank"> 
              "On the Self-Verification Limitations of
              Large Language Models on Reasoning and Planning Tasks"</a> has been accepted to ICLR 2025!</th>
          </tr>
          <tr>
            <th style="color: var(--colorA);" class="datetitle2">Jan 01, 2025</th>
            <th class="pcont">Recipient of the <a href="https://www.linkedin.com/posts/school-of-computing-and-augmented-intelligence_massive-congrats-to-valmeekam-karthik-activity-7284715553657667584-aQ_4?utm_source=share&utm_medium=member_ios" target="_blank"> 
             2024 IBM PhD Fellowship</a> Award! Thanks to IBM Research for this recognition of my ongoing work on the planning/reasoning abilities of LLMs.</th>
          </tr>
          <tr>
            <th style="color: var(--colorA);" class="datetitle2">Sept 25, 2024</th>
            <th class="pcont"><a href="https://arxiv.org/abs/2405.04776" target="_blank"> 
              "Chain of thoughtlessness? An Analysis of CoT in Planning"</a> has been accepted to NeurIPS 2024 as a poster! </th>
          </tr>
          <tr>
            <th style="color: var(--colorA);" class="datetitle2">Sept 23, 2024</th>
            <th class="pcont"><a
              href="https://arxiv.org/pdf/2410.02162" target="_blank">New preprint</a> about OpenAI's o1 
              (<img loading="lazy" width =25 src="https://img.icons8.com/?size=100&id=46852&format=png&color=000000">) evaluation on PlanBench
              is now available on arXiv <img loading="lazy" src="../images/hot3.png" width="60" class="ml-1">
              </th>
          </tr>
          <tr>
            <th style="color: var(--colorA);" class="datetitle2">May 1, 2024</th>
            <th class="pcont"><a href="https://arxiv.org/abs/2402.01817"> 
              "LLMs Can't Plan, But Can Help Planning in LLM-Modulo Frameworks"</a> has been accepted to ICML 2024 as a Spotlight Position Paper! </th>
          </tr>
        </table>
      </p>
    </div>
  </div>
</section> 