<section id="Education" class="parallax-window glass-effect tmWelcome" data-parallax="scroll" data-image-src="../images/IMG_6059.jpg" loading="lazy">
  <div class="container-fluid justify-content-center">
    <div class="row m-5 justify-content-center titlebg">
      <h2 class="titles1 m-3 text-center" style="color: black;">Passing through the Academic Jungle</h2>
    </div>

    <div class="timeline-container">
      <!-- ASU PhD -->
      <div class="timeline-item scroll-triggered">
        <div class="timeline-img"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <h3 class="datetitle">2021 - Present</h3>
            <img loading="lazy" src="../images/yochan_icon1.png" alt="Yochan Lab Logo" class="timeline-logo">
          </div>
          <h4 class="display-5">Arizona State University</h4>
          <p class="lead">Tempe, Arizona, US</p>
          <hr class="my-2">
          <p class="pcont">
            <strong style="color: var(--colorA);">PhD in Computer Science</strong> <br> GPA* 4.0/4.0
            <br> Graduate Research Assistant at <a href="https://yochan-lab.github.io/home/" target="__blank">Yochan</a> under <a href="http://rakaposhi.eas.asu.edu/" target="__blank">Prof. Subbarao Kambhampati</a>
          </p>
        </div>
      </div>

      <!-- ASU MS -->
      <div class="timeline-item timeline-item-right scroll-triggered">
        <div class="timeline-img"></div>
        <div class="timeline-content">
           <div class="timeline-header">
            <h3 class="datetitle">2019 - 2021</h3>
            <img loading="lazy" src="../images/yochan_icon1.png" alt="Yochan Lab Logo" class="timeline-logo">
          </div>
          <h4 class="display-5">Arizona State University</h4>
          <p class="lead">Tempe, Arizona, US</p>
          <hr class="my-2">
          <p class="pcont">
            <strong style="color: var(--colorA);">M.S. in Computer Science</strong> <br>GPA 4.0/4.0
            <br> Graduate Research Assistant at Yochan under Prof. Subbarao Kambhampati
            <br>Thesis: <a href="https://search.proquest.com/openview/023ddfb07232c64f9cd810cd71c966ae/1?pq-origsite=gscholar&cbl=18750&diss=y" target="__blank">A Study of Explainable Decision Support for Longitudinal Sequential Decision Making</a>
          </p>
        </div>
      </div>

      <!-- VIT BTech -->
      <div class="timeline-item scroll-triggered">
        <div class="timeline-img"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <h3 class="datetitle">2015 - 2019</h3>
            <img loading="lazy" src="../images/vit.png" alt="VIT Logo" class="timeline-logo" style="max-height: 40px;">
            <img loading="lazy" src="../images/codechef.png" alt="Codechef Logo" class="timeline-logo" style="max-height: 35px;">
          </div>
          <h4 class="display-5">Vellore Institute Of Technology</h4>
          <p class="lead">Vellore, Tamilnadu, India</p>
          <hr class="my-2">
          <p class="pcont">
            <strong style="color: var(--colorA);">B.Tech. in Computer Science and Engineering</strong> <br> GPA 9.19/10.0
            <br>Research Aide under <a href="https://scholar.google.com/citations?user=urTMyXcAAAAJ&hl=en" target="__blank">Prof. Anuradha J</a>
            <br>Vice-Chair Management of Codechef-VIT
          </p>
        </div>
      </div>
      
      <!-- Narayana Intermediate -->
      <div class="timeline-item timeline-item-right scroll-triggered">
        <div class="timeline-img"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <h3 class="datetitle">2013 - 2015</h3>
            <img loading="lazy" src="../images/narayana.png" alt="Narayana Logo" class="timeline-logo" style="max-height: 50px;">
          </div>
          <h4 class="display-5">Narayana Junior College</h4>
          <p class="lead">Hyderabad, Telangana, India</p>
          <hr class="my-2">
          <p class="pcont">
            <strong style="color: var(--colorA);">Intermediate (11th & 12th Std)</strong> <br>Percentage: 95.1%
          </p>
        </div>
      </div>
      
      <!-- ISI 10th Std -->
      <div class="timeline-item scroll-triggered">
        <div class="timeline-img"></div>
        <div class="timeline-content">
          <div class="timeline-header">
            <h3 class="datetitle">2007 - 2013</h3>
            <img loading="lazy" src="../images/isi.png" alt="ISI Logo" class="timeline-logo" style="max-height: 50px;">
          </div>
          <h4 class="display-5">Indian School Ibra</h4>
          <p class="lead">Ibra, Oman</p>
          <hr class="my-2">
          <p class="pcont">
            <strong style="color: var(--colorA);">10th Std</strong> <br>GPA 9.8/10.0<br> Computer Whizkid <br>Best Dancer
          </p>
        </div>
      </div>

    </div> <!-- End Timeline Container -->
  </div>
</section> 