<section id="hiWindow" class="parallax-window glass-effect tmWelcome" data-parallax="scroll" data-image-src="../images/bgimage1.jpg" loading="lazy">
  <div class="container-fluid">
    <div class="row">
      <div class="col offset-md-4">
        <div class="ml-auto mr-0">
          <div class="text-center">
            <h3 class="titles1">Hello I'm</h3>
            <h1 class="titles2">Valmeekam Karthik</h1>
            <span class="blink_me">
              <h3 style="font-family: var(--fontone);font-size: 1rem;color: white;opacity: 0.7;">Scroll down <br>For a
                tour into my world</h3>
              <i class="fas fa-arrow-circle-down" style="color: white;font-size: 1.5rem;opacity: 0.7;"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 