<section id="RandP" class="parallax-window glass-effect tmWelcome" data-parallax="scroll" data-image-src="../images/endof.jpg" loading="lazy">
  <div class="container-fluid justify-content-center">
    <div class="row m-5 justify-content-center titlebg">
      <h2 class="titles1 m-3 text-center" style="color: black;"> Execution - That's how dreams become reality </h2>
    </div>
    <div class="row">
      <div class="col">
        <div class="jumbotron scroll-triggered glass-effect">
          <div>
            <h1 class="display-4"> Publications.
              <div class="d-inline-block">
                <a class="button-6" href="https://scholar.google.com/citations?user=CrYLDt4AAAAJ&hl=en"
                  target="__blank">
                  <img loading="lazy" width="30" src="https://img.icons8.com/material-outlined/48/000000/google-scholar.png" />
                </a>
              </div>
            </h1>
          </div>
          
          <!-- Publication Filters -->
          <div id="publication-filters" class="mb-4 text-center">
            <button class="btn filter-btn active" data-filter="all">All</button>
            <button class="btn filter-btn" data-filter="2025">2025</button>
            <button class="btn filter-btn" data-filter="2024">2024</button>
            <button class="btn filter-btn" data-filter="2023">2023</button>
            <button class="btn filter-btn" data-filter="2022">2022</button>
            <button class="btn filter-btn" data-filter="2018">2018</button>
          </div>
          
          <p class="lead">
            *Formalizing Curiosity*
          </p>
          <hr class="my-4">
          <ol id="publication-list" class="pcont">
            <li data-year="2025"><a href="https://arxiv.org/abs/2402.08115" target="_blank">On the Self-Verification Limitations of
              Large Language Models on Reasoning and Planning Tasks</a> <img loading="lazy" src="../images/hot3.png" width="60" class="m-1">
            <br>
            <p class="psmall">Kaya Stechly, <u>Karthik Valmeekam</u>, Subbarao Kambhampati
              <br> <a style="color: var(--colorA);">ICLR 2025</a>
            </p>
          </li>
          <li data-year="2025">
            <a href=https://arxiv.org/abs/2410.02162> Planning in Strawberry Fields: Evaluating and Improving the Planning and Scheduling Capabilities of LRM o1
            </a><img loading="lazy" src="../images/hot3.png" width="60" class="m-1">
                 <br>
                 <p class="psmall"><u>Karthik Valmeekam</u>*, Kaya Stechly*, Atharva Gundawar, Subbarao Kambhampati
                 <br>
                 <a style="color: var(--colorA);">A Version to appear in TMLR, 2025.</a>
                 <br>
                 <a><i>*equal contribution</i></a>
                 <br>
                </p>    
         
             </li>  
            <li data-year="2024">
              <a href=https://www.arxiv.org/abs/2409.13373> LLMs Still Can't Plan; Can LRMs? A Preliminary Evaluation of OpenAI's o1 on PlanBench
              </a><img loading="lazy" src="../images/hot3.png" width="60" class="m-1">
                   <br>
                   <p class="psmall"><u>Karthik Valmeekam</u>*, Kaya Stechly*, Subbarao Kambhampati
                   <br>
                   <a style="color: var(--colorA);">arXiv Preprint, Sept 2024.</a>
                   <br>
                   <a><i>*equal contribution</i></a>
                   <br>
                   (Coverage in <a href=https://the-decoder.com/researchers-put-openais-o1-through-its-paces-exposing-both-breakthroughs-and-limitations>The Decoder</a>, 
                   Top paper in <a href="https://araneoides.eomail1.com/web-version?ep=1&lc=ee1ec70c-163b-11ef-a933-91d91c4238c9&p=9feae9ca-7a96-11ef-90d4-d7835b3ab8c1&pt=campaign&t=1727199407&s=3f58c0d205a402d687acfc975d67b72b9502246754140e8d41f5190017daf4aa"> Alpha Signal Newsletter</a>)           
                  </p>    
           
               </li>  
               <li data-year="2024"><a href="https://arxiv.org/abs/2405.04776" target="_blank">Chain of Thoughtlessness? An Analysis of
                CoT in Planning </a> <img loading="lazy" src="../images/new5.png"
                width="70" class="m-1">
              <br>
              <p class="psmall">Kaya Stechly*, <u>Karthik Valmeekam</u>*, Subbarao Kambhampati
                <br> <a style="color: var(--colorA);">NeurIPS 2024</a>
                <br> <a><i>*equal contribution</i></a>
                <br> (Coverage in <a href=https://bdtechtalks.com/2024/05/13/chain-of-thought-planning>TechTalks</a>)
              </p>
            </li>
            <li data-year="2024"><a href="https://arxiv.org/abs/2402.01817" target="_blank">LLMs Can't Plan, But Can Help Planning in
                LLM-Modulo Frameworks </a> 
                <!-- <img loading="lazy" src="../images/new5.png" width="70" class="m-1"> -->
              <br>
              <p class="psmall">Subbarao Kambhampati, <u>Karthik Valmeekam</u>, Lin Guan, Kaya Stechly, Mudit Verma,
                Siddhant Bhambri, Lucas Saldyt, Anil Murthy
                <br> <a style="color: var(--colorA);">ICML 2024 (Position Paper) </a>
              </p>
            </li>
            
            <li data-year="2024"><a href="https://arxiv.org/abs/2405.20625" target="_blank">Robust Planning with LLM-Modulo Framework: Case Study in Travel Planning</a> <img loading="lazy" src="../images/new5.png" width="70" class="m-1">
            <br>
            <p class="psmall">Atharva Gundawar, Mudit Verma, Lin Guan, Karthik Valmeekam, Siddhant Bhambri, Subbarao Kambhampati
              <br> <a style="color: var(--colorA);">arXiv Preprint, May 2024.</a>
            </p>
          </li>
            <li data-year="2024"><a href="https://aaai.org/aaai-conference/aaai-24-tutorial-and-lab-list/#th20" target="_blank">On the
                role of large language models in planning</a> 
              <br>
              <p class="psmall">Subbarao Kambhampati, <u>Karthik Valmeekam</u>, Lin Guan
                <br> <a style="color: var(--colorA);"> Tutorial at AAAI 2024</a>
              </p>
            </li>
            
            <li data-year="2023"><a href="https://arxiv.org/abs/2305.15771" target="_blank">On the Planning Abilities of Large Language
                Models--A Critical Investigation </a>
              <br>
              <p class="psmall"><u>Karthik Valmeekam</u>, Matthew Marquez, Sarath Sreedharan, Subbarao Kambhampati
                <br> <a style="color: var(--colorA);">NeurIPS 2023 (Spotlight)</a> (Earlier at <a
                  style="color: var(--colorA);">KLR@ICML 2023</a>)
              </p>
            </li>
            <li data-year="2023"><a href="https://arxiv.org/abs/2305.14909" target="_blank">Leveraging Pre-trained Large Language
                Models to Construct and Utilize World Models for Model-based Task Planning </a>
              <br>
              <p class="psmall">Lin Guan*, <u>Karthik Valmeekam</u>*, Sarath Sreedharan, Subbarao Kambhampati
                <br> <a style="color: var(--colorA);">NeurIPS 2023</a> (Earlier at <a
                  style="color: var(--colorA);">KLR@ICML 2023</a>)
                <br> <a><i>*equal contribution</i></a>
              </p>
            </li>
            <li data-year="2023"><a
                href="https://www.dropbox.com/scl/fi/43c5pyxfdx62d5g28lejx/718_planbench_an_extensible_benchm.pdf?rlkey=0agubkt98mbd83hdhme9f0a1p&dl=0"
                target="_blank">PlanBench: An Extensible Benchmark for Evaluating Large Language Models on Planning
                and Reasoning about Change </a>
              <br>
              <p class="psmall"><u>Karthik Valmeekam</u>, Matthew Marquez, Alberto Olmo, Sarath Sreedharan, Subbarao
                Kambhampati
                <br> <a style="color: var(--colorA);">NeurIPS 2023 (Benchmark Track)</a>
              </p>
            </li>
            <li data-year="2023"><a href="https://arxiv.org/abs/2310.08118" target="_blank">Can Large Language Models Really Improve by
                Self-critiquing Their Own Plans?</a>
              <br>
              <p class="psmall"><u>Karthik Valmeekam</u>, Matthew Marquez, Subbarao Kambhampati
                <br> <a style="color: var(--colorA);">FMDM@NeurIPS 2023</a>
              </p>
            </li>

            <li data-year="2023"><a href="https://arxiv.org/abs/2210.15906" target="_blank">Relative Behavioral Attributes: Filling the
                Gap between Symbolic Goal Specification and Reward Learning from Human Preferences </a>
              <br>
              <p class="psmall">Lin Guan, <u>Karthik Valmeekam</u>, Subbarao Kambhampati
                <br> <a style="color: var(--colorA);">ICLR 2023</a>
              </p>
            </li>
            <li data-year="2023"><a href="https://icaps23.icaps-conference.org/program/tutorials/llms/" target="_blank">On the
              role of large language models in planning</a> 
            <br>
            <p class="psmall">Subbarao Kambhampati, <u>Karthik Valmeekam</u>, Matthew Marquez, Lin Guan
              <br> <a style="color: var(--colorA);"> Tutorial at ICAPS 2023</a>
            </p>
          </li>
            <li data-year="2022"><a href="https://arxiv.org/abs/2206.10498" target="_blank">Large Language Models Still Can't Plan (A
                Benchmark for LLMs on Planning and Reasoning about Change) </a>
              <br>
              <p class="psmall"><u>Karthik Valmeekam</u>, Alberto Olmo, Sarath Sreedharan, Subbarao Kambhampati
                <br> <a style="color: var(--colorA);">FMDM@NeurIPS 2022</a>
              </p>
            </li>
            <li data-year="2022"><a href="https://ojs.aaai.org/index.php/AAAI/article/view/18009" target="_blank">RADAR-X: An
                Interactive Interface Pairing Contrastive Explanations with Revised Plan Suggestions </a>
              <br>
              <p class="psmall"><u>Karthik Valmeekam</u>, Sarath Sreedharan, Sailik Sengupta, Subbarao Kambhampati
                <br> <a style="color: var(--colorA);">ICAPS 2022; AAAI 2021 Demos</a>
              </p>
            </li>
            <li data-year="2018"><a href="https://www.sciencedirect.com/science/article/pii/S1877050918309359" target="_blank">Opinion
                Mining on Emojis using Deep Learning Techniques </a>
              <br>
              <p class="psmall"><u>Karthik Valmeekam</u>, Dheeraj Nair, J Anuradha
                <br> <a style="color: var(--colorA);">Procedia Computer Science, 2018</a>
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="jumbotron scroll-triggered glass-effect">
          <h1 class="display-4">Projects</h1>
          <p class="lead">
            *Get the engine started.*
          </p>
          <hr class="my-4">
          <p>
          <ol class="pcont">
            <li><a href="https://github.com/karthikv792/LLMs-Planning" target="_blank">LLMs for Planning</a> <img loading="lazy"
                src="../images/hot3.png" width="60" class="m-1"> </li>
            <li><a href="https://github.com/karthikv792/RL-for-Imperfect-Info-Games" target="_blank">Reinforcement
                Learning for Sequence: An Imperfect Information Board Game </a> </li>
            <li><a href="https://github.com/karthikv792/TORCS_SAC_PYTORCH" target="_blank">High Speed Autonomous
                Drifting using Deep Reinforcement Learning </a></li>
            <li><a href="https://github.com/karthikv792/NashQ" target="_blank">Implementation and Evaluation of Nash Q
                Learning </a></li>
            <li><a href="https://github.com/karthikv792/PDDL-parser" target="_blank">Parsing and Writing AI Planning
                models (represented in PDDL) </a></li>
            <li><a href="https://hopeful-brahmagupta-b552a0.netlify.app/" target="_blank">Paws in Space - Data
                Visualization</a></li>
            <li><a href="https://wonderful-zuccutto-9c2fd2.netlify.app/" target="_blank">How to Open in Chess? - Data
                Visualization</a> </li>
          </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
</section> 